<tr>
  <td>
    <p class="fs-5"><%= comment.name %></p>
    <div class="fs-4">
      <%= simple_format comment.content, class: 'mb-0' %>
    </div>
  </td>
</tr>
<%= render partial: 'reply', collection: comment.facility_replies, as: 'reply' %>
