<tr>
  <td>
    <div class='ms-3'>
      <p class="fs-5"><%= reply.name %></p>
      <div class="fs-4">
        <%= simple_format reply.content, class: 'mb-0' %>
      </div>
    </div>
  </td>
</tr>
