<%= link_to facility_bookmark_path(facility, current_user.bookmarks.find_by(public_facility: facility)), data: {turbo_method: :delete} do %>
  <p class="mb-0">★  ブックマークを外す</p> <!-- icon等に変更予定 -->
<% end %>
