<%= render 'search_form', url: events_path %>

<%# デモ用 %>
<div class="container">
  <div class="card text-center m-auto mt-2">
    <div class="card-body">
      <h2 class="card-title">テニス　対戦相手募集！！</h2>
      <h5>開催日　９月１８日</h5>
      <table class="table table-bordered m-auto">
        <tr class="table-success">
          <td>開始時間</td>
          <td>１３：００</td>
        </tr>
        <tr class="table-primary">
          <td>終了時間</td>
          <td>１７：００</td>
        </tr>
        <tr class="table-light">
          <td>開催場所</td>
          <td>深川庭球場</td>
        </tr>
        <tr class="table-light">
          <td>募集人数</td>
          <td>１０人</td>
        </tr>
      </table>
      <div class="input-group-append">
        <button type="button" class="btn btn-primary btn-sm mt-2">詳細ページ</button>
      </div>
    </div>
  </div>
  <div class="card text-center m-auto mt-2">
    <div class="card-body">
      <h2 class="card-title">フットサル　練習相手募集！！</h2>
      <h5>開催日　９月２５日</h5>
      <table class="table table-bordered m-auto">
        <tr class="table-success">
          <td>開始時間</td>
          <td>１３：００</td>
        </tr>
        <tr class="table-primary">
          <td>終了時間</td>
          <td>１７：００</td>
        </tr>
        <tr class="table-light">
          <td>開催場所</td>
          <td>江東区競技場</td>
        </tr>
        <tr class="table-light">
          <td>募集人数</td>
          <td>１５人</td>
        </tr>
      </table>
      <div class="input-group-append">
        <button type="button" class="btn btn-primary btn-sm mt-2">詳細ページ</button>
      </div>
    </div>
  </div>
  <div class="card text-center m-auto mt-2">
    <div class="card-body">
      <h2 class="card-title">茶道　合同お茶会</h2>
      <h5>開催日　１０月１０日</h5>
      <table class="table table-bordered m-auto">
        <tr class="table-success">
          <td>開始時間</td>
          <td>１３：００</td>
        </tr>
        <tr class="table-primary">
          <td>終了時間</td>
          <td>１７：００</td>
        </tr>
        <tr class="table-light">
          <td>開催場所</td>
          <td>江東区文化センター</td>
        </tr>
        <tr class="table-light">
          <td>募集人数</td>
          <td>８人</td>
        </tr>
      </table>
      <div class="input-group-append">
        <button type="button" class="btn btn-primary btn-sm mt-2">詳細ページ</button>
      </div>
    </div>
  </div>
  <div class="card text-center m-auto mt-2">
    <div class="card-body">
      <h2 class="card-title">野球　練習試合！！</h2>
      <h5>開催日　１１月１８日</h5>
      <table class="table table-bordered m-auto">
        <tr class="table-success">
          <td>開始時間</td>
          <td>１３：００</td>
        </tr>
        <tr class="table-primary">
          <td>終了時間</td>
          <td>１７：００</td>
        </tr>
        <tr class="table-light">
          <td>開催場所</td>
          <td>深川野球場</td>
        </tr>
        <tr class="table-light">
          <td>募集人数</td>
          <td>２０人</td>
        </tr>
      </table>
      <div class="input-group-append">
        <button type="button" class="btn btn-primary btn-sm mt-2">詳細ページ</button>
      </div>
    </div>
  </div>
</div>