<%= link_to facility_bookmark_path(facility, facility.bookmarks.find { |fac| fac.user_id == current_user.id }), data: {turbo_method: :delete}, class: 'text-decoration-none' do %>
  <p class="mb-0">★  ブックマークを外す</p> <!-- icon等に変更予定 -->
<% end %>
