<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Navbar</span>
      <% if current_user %>
        <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }, class:"btn btn-primary" %>
      <% else %>
        <div>
          <%= link_to '新規登録', signup_path, class:"btn btn-primary" %>
          <%= link_to 'ログイン', login_path, class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </nav>
</header>
