<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Navbar</span>
      <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
    </div>
  </nav>
</header>

